@model List<Motel>

<h1>Mis Moteles</h1>
<hr>

<table class="table">
    <thead>
        <tr>
            <th>Motel</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Name</td>
                
                <td>
                    @*<div class="mt-3 d-flex justify-content-between">
                <button class="btn btn-warning"
                data-id="@request.Id"
                data-toggle="modal"
                data-target="#modalRequest">
                Ver solicitud
                </button>

                <button class="btn btn-success">Aceptar</button>
                <button class="btn btn-danger">Rechazar</button>
                </div>*@
                    <a asp-action="Edit" asp-controller="Motel" asp-route-id="@request.Id" class="btn btn-warning"> Editar Motel</a>
                </td>
            </tr>
        }

    </tbody>
</table>
