@model List<Motel>

<h2 style="color: #4F3803; font-family: Oswald;">Mis Moteles</h2>
<hr>

<table class="table">
    <thead>
        <tr>
            <th style="color: burlywood; font-family: Oswald; font-size:20px">Motel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Name</td>
                
                <td>
                    <a asp-action="Edit" asp-controller="Motel" asp-route-id="@request.Id" class="btn btn-warning"> Editar Motel</a>
                </td>
            </tr>
        }
    </tbody>
</table>



