@model List<Motel>

<h1>Mis Moteles</h1>
<hr>

<table class="table">
    <thead>
        <tr>
            <th>Motel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Name</td>
                
                <td>
                    <a asp-action="Edit" asp-controller="Motel" asp-route-id="@request.Id" class="btn btn-warning"> Editar Motel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
