@using SisMot.Helpers
@inject BingMap bing
@{
    ViewData["Title"] = "SISMOT";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div style="margin:10px;" class="col-md-5">
                    <div style="margin:10px;" class="card">
                        <img style="height:250px; width:250px; margin:10px;" src="../Resources/img/motel2.jpg" alt="Imagen 1">
                        <h4 style="margin:10px;">Título 1</h4>
                        <p style="margin:10px;">Párrafo 1</p>
                    </div>
                </div >
                <div style="margin:10px;" class="col-md-5">
                    <div style="margin:10px;" class="card">
                        <img style="height:250px; width:250px; margin:10px;" src="../Resources/img/motel2.jpg" alt="Imagen 1">
                        <h4 style="margin:10px;">Título 2</h4>
                        <p style="margin:10px;">Párrafo 2</p>
                    </div>
                </div>
                <div style="margin:10px;" class="col-md-5">
                    <div style="margin:10px;" class="card">
                        <img style="height:250px; width:250px; margin:10px;" src="../Resources/img/motel2.jpg" alt="Imagen 1">
                        <h4 style="margin:10px;">Título 3</h4>
                        <p style="margin:10px;">Párrafo 3</p>
                    </div>
                </div>
                <div style="margin:10px;" class="col-md-5">
                    <div style="margin:10px;" class="card">
                        <img style="height:250px; width:250px; margin:10px;" src="../Resources/img/motel2.jpg" alt="Imagen 1">
                        <h4 style="margin:10px;">Título 4</h4>
                        <p style="margin:10px;">Párrafo 4</p>
                    </div>
                </div>
                <div style="margin:10px;" class="col-md-5">
                    <div style="margin:10px;" class="card">
                        <img style="height:250px; width:250px; margin:10px;" src="../Resources/img/motel2.jpg" alt="Imagen 1">
                        <h4 style="margin:10px;">Título 5</h4>
                        <p style="margin:10px;">Párrafo 5</p>
                    </div>
                </div>
                <div style="margin:10px;" class="col-md-5">
                    <div style="margin:10px;" class="card">
                        <img style="height:250px; width:250px; margin:10px;" src="../Resources/img/motel2.jpg" alt="Imagen 1">
                        <h4 style="margin:10px;">Título 6</h4>
                        <p style="margin:10px;">Párrafo 6</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div id="map" dropzone="" style="width: 700px; height: 800px;"></div>

        </div>
    </div>
</div>
@section Scripts
    {
    <script type='text/javascript'>

        const txtLatitude = document.getElementById('txtLatitude');
        const txtLongitude = document.getElementById('txtLongitude');

        function loadMapScenario() {
            var map = new Microsoft.Maps.Map(document.getElementById('map'), {
                center: new Microsoft.Maps.Location(-17.393496874429385, -66.15692841770928),
                credentials: '@bing.Key',
                zoom: 17
            });
            Microsoft.Maps.Events.addHandler(map, 'click', (e) => {
                map.entities.clear();

                var location = e.location;

                // Crea un pin en esa ubicación
                var pin = new Microsoft.Maps.Pushpin(location);

                // Añade el pin al mapa
                map.entities.push(pin)
                txtLatitude.value = location.latitude;
                txtLongitude.value = location.longitude;
            })
        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=@bing.Key&callback=loadMapScenario' async defer></script>
}