@using SisMot.Helpers
@model List<PersonRequest>
@inject BingMap bing

<h2 style="color: #4F3803; font-family: Oswald;">Solicitudes</h2>
<hr>

<table class="table">
    <thead>
        <tr>
            <th>Fecha de envío</th>
            <th>Estado</th>
            <th>Solicitante</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.ApplicationDate.ToShortDateString()</td>
                    @if (request.StatusRequest == 0)
                    {
                        <td>Pendiente</td>
                    }
                    <td>
                        @string.Concat(request.Person.FirstName, " ", request.Person.LastName, " ", request.Person.SecondLastName)
                    </td>
                <td>
                    <div class="mt-3 d-flex justify-content-between">
                        <button class="btn btn-warning"
                                onclick="showDetailsRequest(@request.Id)">
                            Ver solicitud
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalRequestDetails">
    <div class=" modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: burlywood; font-family: Oswald;" class="modal-title fw-bold">Detalles De La Solicitud</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input id="txtMotelId" type="number" style="display: none" />
                            <div class="form-group">
                                <label style="color: burlywood; font-family: Oswald; font-size:20px">Nombre del Motel:</label>
                                <input type="text" disabled id="txtMotelName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label style="color: burlywood; font-family: Oswald; font-size:20px" for="descripcionMotel">Breve descripción y ambiente:</label>
                                <textarea class="form-control" disabled id="txtMotelDescription" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label style="color: burlywood; font-family: Oswald; font-size:20px">Precio:</label>
                                <input type="number" disabled id="txtMotelPrice" class="form-control">
                            </div>
                            <div class="form-group">
                                <label style="color: burlywood; font-family: Oswald; font-size:20px">Numero de Celular:</label>
                                <input type="number" disabled class="form-control" id="txtMotelPhone">
                            </div>

                            <div class="form-group" id="imagesContainer">
                                
                            </div>
                            <input id="txtMotelLatitude" type="number" style="display: none" step="any"/>
                            <input id="txtMotelLongitude" type="number" style="display: none" step="any"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div id="map" dropzone="" style="width: 400px; height: 400px;"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center modal-footer">
                <button type="button" class="btn btn-success" onclick="acceptRequest()" data-dismiss="modal">Aceptar Solicitud</button>
                <button type="button" class="btn btn-danger" onclick="rejectRequest()" data-dismiss="modal">Rechazar Solicitud</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        const modalRequestDetails = document.getElementById('modalRequestDetails');
        const txtMotelName = document.getElementById('txtMotelName');
        const txtMotelDescription = document.getElementById('txtMotelDescription');
        const txtMotelPrice = document.getElementById('txtMotelPrice');
        const txtMotelPhone = document.getElementById('txtMotelPhone');
        const txtMotelLatitude = document.getElementById('txtMotelLatitude');
        const txtMotelLongitude = document.getElementById('txtMotelLongitude');
        const txtMotelId = document.getElementById('txtMotelId');
        const imagesContainer = document.getElementById('imagesContainer');
        let requestDetailModal;
        
        function showDetailsRequest(id){
            imagesContainer.innerHTML = '';
            txtMotelId.value = id;
            fetch(`/Request/GetRequestByDetails?requestId=${id}`)
            .then(res => res.json())
            .then(data => {
                if(data !== null){
                    console.log(data);
                    requestDetailModal = new bootstrap.Modal(modalRequestDetails);
                    txtMotelName.value = data.motelName;
                    txtMotelDescription.value = data.motelDescription;
                    txtMotelPrice.value = data.motelPrice;
                    txtMotelPhone.value = data.motelPhoneNumber;
                    loadMapScenario(data.motelLatitude, data.motelLongitude);
                    
                    if (data.motelPhotos !== undefined){
                        data.motelPhotos.forEach(path => {
                            var image = document.createElement('img');
                            image.src = `../${path}`;
                            imagesContainer.appendChild(image);
                            image.width = 140;
                            image.height = 140;
                        })
                    }
                    requestDetailModal.show();
                }
            })
            .catch(err => console.error(err))
        }
        async function loadMapScenario(latitude, longitude) {
            let map = new Microsoft.Maps.Map(document.getElementById('map'), {
                center: new Microsoft.Maps.Location(parseFloat(latitude), parseFloat(longitude)),
                credentials: '@bing.Key',
                zoom: 17
            });
            let pinLocation = new Microsoft.Maps.Location(parseFloat(latitude), parseFloat(longitude));
            let pin = new Microsoft.Maps.Pushpin(pinLocation);
            map.entities.push(pin);
        }
        function acceptRequest(){
            fetch(`/Request/AcceptRequest?requestId=${txtMotelId.value}`)
            .then(res => {
                if (res.ok){
                    window.location.reload();
                }
                else {
                    alert('El estado de la solicitud no se actualizó');
                }
            })
            .catch(err => console.error(err));
        }
        
        function rejectRequest(){
            fetch(`/Request/RejectRequest?requestId=${txtMotelId.value}`)
            .then(res => {
                if (res.ok){
                    window.location.reload();
                }
                else {
                    alert('El estado de la solicitud no se actualizó');
                }
            })
            .catch(err => console.error(err));
        }
    </script>
}
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=@bing.Key&callback=loadMapScenario' async defer></script>